body {
    background-image: url(images/ODA\ SA\ WALA.gif);
    background-size: cover;
    background-repeat: repeat-y;
    background-color: black;
}

header {
    color: black;
    text-align: left;
   

}

h1 {
    font-family: horizon, sans-serif;
    font-size: 2rem;
    
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 5rem;
    font-size: 1rem;

}

h3 {
    font-family: horizon, sans-serif;
    font-size: 2rem;
    text-align: right;
    color: white;
    margin-top: 5%;
   
}

h4 {
    font-family: horizon, sans-serif;
    font-size: 2rem;
    text-align: right;
    color: white;
    margin-top: -2rem;
}

 

p {
    color: white;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15rem;
}

.container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: flex-end;  /* Align buttons to the right */
    justify-content: center; /* Center buttons vertically */
    gap: 5px;
   
}


.info-btn {
    width: 160px;
    height: 40px;
    background-color: none;
    text-decoration: none;
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
   
}
    
