body {
  background-image: url("../assets/images/Perfumed_Nightmare.gif");
  background-repeat: no-repeat;
  background-position: center -10%;
  background-attachment: scroll;
  height: 100%;

}

@media (max-width: 768px) {
  body {
    background-size: contain;
    background-position: center -10%;
    background-attachment: scroll;
  }
}