* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}


body {
  display: flex;
  flex-direction:column;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background-color: black;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 2.5rem;
  

}

.hero {
  margin-left:45vw ;
  margin-top: 20vw;
  color: palegoldenrod;
}
.bio-title {
  font-size: large;
}

.bio-text {
  font-size: large;
  margin: 0vw 3vw;
}

.bio-p {
  font-size: small;
}
.banner {
  width: 100%;
  padding: 1;
  position: relative;
  color: yellow;
  font-size: xx-large;
  background-color: transparent;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.banner-content {
  display: block;
  animation: scrollBanner 20s linear infinite;
}

/* Keyframe for scrolling */
@keyframes scrollBanner {
  0% {transform: translateX(100%); /* Start off-screen (right) */
  }
  100% {transform: translateX(-100%); /* End off-screen (left) */
  }
}


nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  font-size: 1.25rem;
  text-align: center;
  margin-top: 0.5rem;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
  padding-top: 0rem;
}

nav a {
  color: red;
  transition: .3s;
  text-decoration: none;
  
}
nav a:hover {
  filter:invert(2)
}

nav ul {
  display: flex;
  gap: 0rem;
}

nav ul li {
  font-weight:lighter;
}



#footer {
  text-align: center; /* Centers text in the footer */
  color: whitesmoke; /* Text color */
  font-size: small;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  
}



